<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Edit a record</h1>

<form action="update" method="post">
    <!-- The id field is hidden to prevent user from modifying it easily, although it can still be modified removing
     the hidden tag through the page inspection tool-->
    <input type="text" name="id" th:value="${person.id}" hidden>
    Name: <input type="text" name="firstname" th:value="${person.firstName}">
    Surname: <input type="text" name="lastname" th:value="${person.lastName}">
    <input type="submit" />
</form>

<a href="list"> Show the list </a>

</body>
</html>